services:
  db:
    image: postgres:14-alpine # Or choose a specific PostgreSQL version
    container_name: db
    environment:
      POSTGRES_USER: postgres # Use 'postgres' as user (or choose your username)
      POSTGRES_PASSWORD: ${PG_PASS} # **Replace with a real password!**
      POSTGRES_DB: finapp_data
      TZ: "Asia/Kolkata" # Set timezone to IST
    ports:
      - "5432:5432" # Map host port 5432 to container port 5432
    networks:
      - MFA
    volumes:
      - postgres_data:/var/lib/postgresql/data/ # Persist data across restarts
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - MFA
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: finapp
    ports:
      - "8000:8000"
    networks:
      - MFA
    environment:
      DATABASE_URL: ${DATABASE_URL} # Dynamic DATABASE_URL using .env vars, fixed db_name
      SECRET_KEY: ${SECRET_KEY} # Use variable from .env (or system env)
      ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES} # Use variable from .env (or system env)
      LOG_LEVEL: ${LOG_LEVEL} # Use variable from .env (or system env)
      TZ: "Asia/Kolkata" # Set timezone to IST
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
   
  redis_data:

networks:
  MFA:
    